.section-tab {
  display: flex;
  white-space: nowrap;
  font-weight: 700;
}

.section-tab-count {
  margin-left: 0.5rem;
  padding: 0 0.375rem;

  border-radius: 0.375rem;

  background-color: var(--color-accent-purple-blue);
  color: var(--color-text);
  font-weight: 400;
}
