.section-tab-button {
  display: flex;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--color-text-muted);

  font-weight: 700;
}

/* TODO: better way to do this? - code smell */
input[type="radio"]:checked + .section-tab-button {
  color: inherit;
}

.section-tab-button-count {
  margin-left: 0.5rem;
  padding: 0 0.375rem;

  border-radius: 0.375rem;

  background-color: var(--color-accent-purple-blue);
  color: var(--color-text);
  letter-spacing: 0px;
}
