.dashboard-header {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 2rem 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .dashboard-header {
    width: 100%;
    padding: 2rem 0;
  }
}
