.nav-container {
  border: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background-image: linear-gradient(
    to top,
    var(--color-bg),
    rgb(0 20 40 / 0.8),
    var(--color-bg)
  );
}

.keep-awake-btn {
  min-height: 2rem;
}
